<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}영화 데이터베이스{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>영화 데이터베이스</h1>
        <nav>
            <ul>
                <li><a href="{% url 'movie_list' %}">홈</a></li>  <!-- 'home'을 'movie_list'로 변경 -->
                <li><a href="{% url 'movie_list' %}">영화 목록</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>
